<div class="container">
    <div class="card">
        <div class="card-header">
          <h3>Información sobre el Usuario:</h3>
        </div>
        <div class="card-body">
          <div>
            <div class="form-group">
                <label for="">Nombre Completo:</label>
                <input type="text" class="form-control" [(ngModel)]="nombre" disabled>
            </div>
            <div class="form-group">
                <label for="">Correo:</label>
                <input type="text" class="form-control" [(ngModel)]="correo" disabled/>
            </div>
            <div class="form-group">
                <label for="">Dirección:</label>
                <input type="text" class="form-control" [(ngModel)]="direccion" disabled/>
            </div>
            <div class="form-group">
                <label for="">Teléfono:</label>
                <input type="text" class="form-control" [(ngModel)]="telefono" disabled/>
            </div>
            <div class="form-group">
                <label for="">Edad:</label>
                <input class="form-control" placeholder="Año/Mes/Día" [(ngModel)]="fecha" disabled>
            </div>
            <br>
            <hr>
            <hr>
            <div style="text-align: center;">
                <button type="button" class="btn btn-outline-danger btn btn-lg" (click)="Volver()" >Regresar</button>
            </div>
          </div>
        </div>
      </div>
</div>